{% load staticfiles %}
<html>
	<head>
		<title>GROWMAT</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="{% static 'w/style.css' %}">
    </head>

<body>
<h3>
{% if user.is_authenticated %}{{ user.username }} <a href="{% url 'w:logout' %}">logout</a>{% else %}<a href="{% url 'w:login' %}">Login</a>{% endif %}
<br>
<a href="{% url 'w:index' %}">GROWMAT</a>
<a href="{% url 'w:instrument' %}">System administration</a>
</h3>

{% comment %}
{% block content %}

<table border=1>
		<tr><th>NAME</th><th>VALUE</th><th>STATUS</th></tr>
       {% for instrument in instruments %}
			{% if instrument.status > 0 and instrument.status < 4 %}
        		<tr class="NT">
        	{% elif instrument.status = 4 %}
        		<tr class="W">
        	{% elif instrument.status = 8 %}
        		<tr class="A">
        	{% else %}
        		<tr>
        	{% endif %}
            	<td>{{ instrument.name }}</td>
               	<td>{{ instrument.value }} </td>
            	<td>{{ instrument.status }} </td>
            </tr>
            
        {% endfor %}
 </table>
{% endblock %}
{% endcomment %}

<table>
	<tr><td class="normal">NAME<br><big>{{ instrument.name }}</big></td></tr>
	<tr>
	{% if instrument.NT %}
        		<td class="NT">
        	{% elif instrument.IV %}
        		<td class="IV">
        	{% elif instrument.W %}
        		<td class="W">
        	{% elif instrument.A %}
        		<td class="A">
        	{% else %}
        		<td class="normal">
    {% endif %}
	STATUS<br><big>{{ instrument.status }}</big></td></tr>
	<tr><td class="normal">DATETIME<br><big>{{ instrument.datetime|date:"D d M Y" }} {{ instrument.datetime|time:"H:i:s" }} </big></td></tr>
	
	
	<form action="" method="post">{% csrf_token %}
		<tr>
		<td class="normal">
			VALUE<br>
				{{ form.value }}
				<br><br>&nbsp;
					<input type="submit" name="setValue" value="Set" class="touch"/>&nbsp;&nbsp;
    				<input type="submit" name="setOff" value="Off" class="touch"/>&nbsp;&nbsp;
    	    		<input type="submit" name="setOn" value="On" class="touch" />&nbsp;
    		<br><br>	
    	</td>
    	</tr>
    	<tr>
    		<td class="normal">
    			
    			MANUAL<br><big>{{ instrument.manual }}<big><br><input type="submit" name="resetManual" value="Reset" class="touch"/>
    			<br><br>
    		</td>
    	</tr>
	</form>
	
	
{% comment %}	
        {% for instrument in instruments %}
			{% cycle '<tr>' '' '' %}
			{% if instrument.NT %}
        		<td class="NT">
        	{% elif instrument.IV %}
        		<td class="IV">
        	{% elif instrument.W %}
        		<td class="W">
        	{% elif instrument.A %}
        		<td class="A">
        	{% else %}
        		<td class="normal">
        	{% endif %}
            	{% if user.is_authenticated %}
            		<a href="{% url 'w:instrument' instrument.id %}"
            	{% else %}
            		<a href="{% url 'w:login' %}"
            	{% endif %}
            	<h3>{{ instrument.name }}</h3>
           
            	<h1>{{ instrument.value }}</h1>
            	({{ instrument.status }})
            	{% if instrument.manual %}
            		MANUAL
            	{% endif %}
            	</a>
            
            </td>
            {% cycle '' '' '</tr>' %}
        {% endfor %}
 {% endcomment %}
 
 </table>




</body>
</html> 