{% load staticfiles %}
<html>
	<head>
		<title>GROWMAT</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="{% static 'w/style.css' %}">
    </head>

<body>

{% comment %}
<h3>
{% if user.is_authenticated %}{{ user.username }} <a href="{% url 'w:logout' %}">logout</a>{% else %}<a href="{% url 'w:login' %}">Login</a>{% endif %}
<br>
<a href="{% url 'w:index' %}">GROWMAT</a>
<a href="{% url 'w:instrument' %}">System</a>
</h3>
<hr>
{% endcomment %}
{% comment %}
{% block content %}

<table border=1>
		<tr><th>NAME</th><th>VALUE</th><th>STATUS</th></tr>
       {% for instrument in instruments %}
			{% if instrument.status > 0 and instrument.status < 4 %}
        		<tr class="NT">
        	{% elif instrument.status = 4 %}
        		<tr class="W">
        	{% elif instrument.status = 8 %}
        		<tr class="A">
        	{% else %}
        		<tr>
        	{% endif %}
            	<td>{{ instrument.name }}</td>
               	<td>{{ instrument.value }} </td>
            	<td>{{ instrument.status }} </td>
            </tr>
            
        {% endfor %}
 </table>
{% endblock %}


<table>
	<tr>
	{% if instrument.NT %}
        		<td class="NT">
        	{% elif instrument.IV %}
        		<td class="IV">
        	{% elif instrument.W %}
        		<td class="W">
        	{% elif instrument.A %}
        		<td class="A">
        	{% else %}
        		<td class="normal">
    {% endif %}
	{% endcomment %}
	
	
	NAME <h3>{{ instrument.name }}</h3>
	<hr>
	
	DATETIME (STATUS) <h3>{{ instrument.datetime|date:"D d M Y" }} {{ instrument.datetime|time:"H:i:s" }} ({{ instrument.status }}) </h3>
	<hr>
	
	
	
	<form action="" method="post">{% csrf_token %}
		
			VALUE
			<h3>
				{{ form.value }}
			</h3>&nbsp;
					<input type="submit" name="setValue" value="Set" class="touch"/>
    				<input type="submit" name="setOff" value="Off" class="touch"/>
    	    		<input type="submit" name="setOn" value="On" class="touch" />
					&nbsp;
    		
			<hr>
    		<table>
			<tr><td class="normal" style="width: 100px;">
    			<a href="{% url 'w:index' %}">Back</a>
				</td>
				<td align="center">
    			<input type="submit" name="resetManual" value="Auto" class="touch" 
				{% if not instrument.manual %}
					disabled
				{% endif %}
				/>
				</td>
				<td class="normal" style="width: 100px;">
    			<a href="{% url 'w:detail' instrument.id %}">Refresh</a>
				</td>
			</tr>
			</table>
		</form>
  {% comment %}  			
    	</td>
    	</tr>
	
	
	
	
        {% for instrument in instruments %}
			{% cycle '<tr>' '' '' %}
			{% if instrument.NT %}
        		<td class="NT">
        	{% elif instrument.IV %}
        		<td class="IV">
        	{% elif instrument.W %}
        		<td class="W">
        	{% elif instrument.A %}
        		<td class="A">
        	{% else %}
        		<td class="normal">
        	{% endif %}
            	{% if user.is_authenticated %}
            		<a href="{% url 'w:instrument' instrument.id %}"
            	{% else %}
            		<a href="{% url 'w:login' %}"
            	{% endif %}
            	<h3>{{ instrument.name }}</h3>
           
            	<h1>{{ instrument.value }}</h1>
            	({{ instrument.status }})
            	{% if instrument.manual %}
            		MANUAL
            	{% endif %}
            	</a>
            
            </td>
            {% cycle '' '' '</tr>' %}
        {% endfor %}

 
 </table>
 {% endcomment %}



</body>
</html> 