{% load staticfiles %}
<html>
	<head>
	
		<meta name="viewport" content="width=device-width">
	
		<title>GROWMAT</title>
		<meta http-equiv="refresh" content="5">
		<link rel="stylesheet" type="text/css" href="{% static 'w/style.css' %}">
    </head>

<body>
<h3>
{% if user.is_authenticated %}{{ user.username }} <a href="{% url 'w:logout' %}">logout</a>{% else %}<a href="{% url 'w:login' %}">Login</a>{% endif %}
<br>

<a href="{% url 'w:index' %}">GROWMAT</a>


<a href="{% url 'w:instrument' %}">System</a>
</h3>
{% comment %}
{% block content %}

<table border=1>
		<tr><th>NAME</th><th>VALUE</th><th>STATUS</th></tr>
       {% for instrument in instruments %}
			{% if instrument.status > 0 and instrument.status < 4 %}
        		<tr class="NT">
        	{% elif instrument.status = 4 %}
        		<tr class="W">
        	{% elif instrument.status = 8 %}
        		<tr class="A">
        	{% else %}
        		<tr>
        	{% endif %}
            	<td>{{ instrument.name }}</td>
               	<td>{{ instrument.value }} </td>
            	<td>{{ instrument.status }} </td>
            </tr>
            
        {% endfor %}
 </table>
{% endblock %}
{% endcomment %}

<table border=0>
		
        {% for instrument in instruments %}
			{% cycle '<tr>' '' '' %}
			{% if instrument.NT %}
        		<td class="NT">
        	{% elif instrument.IV %}
        		<td class="IV">
        	{% elif instrument.W %}
        		<td class="W">
        	{% elif instrument.A %}
        		<td class="A">
        	{% else %}
        		<td class="normal">
        	{% endif %}
            	{% if user.is_authenticated %}
            		<a href="{% url 'w:detail' instrument.id %}"
            	{% else %}
            		<a href="{% url 'w:login' %}"
            	{% endif %}
            	<big>{{ instrument.name }}</big>
 				       
            	<h3>{{ instrument.value }}</h3>
            	
            	({{ instrument.status }})
            	{% if instrument.manual %}
            		MANUAL
            	{% endif %}
            	</a>
            
            </td>
            {% cycle '' '' '</tr>' %}
        {% endfor %}
 </table>




</body>
</html> 