{% load staticfiles %}
<html>
	<head>
		<title>GROWMAT</title>
		<meta http-equiv="refresh" content="5">
		<link rel="stylesheet" type="text/css" href="{% static 'w/style.css' %}">
    </head>

<body>

<a href="{% url 'w:instrument' %}">System administration</a>

{% comment %}
{% block content %}

<table border=1>
		<tr><th>NAME</th><th>VALUE</th><th>STATUS</th></tr>
       {% for instrument in instruments %}
			{% if instrument.status > 0 and instrument.status < 4 %}
        		<tr class="NT">
        	{% elif instrument.status = 4 %}
        		<tr class="W">
        	{% elif instrument.status = 8 %}
        		<tr class="A">
        	{% else %}
        		<tr>
        	{% endif %}
            	<td>{{ instrument.name }}</td>
               	<td>{{ instrument.value }} </td>
            	<td>{{ instrument.status }} </td>
            </tr>
            
        {% endfor %}
 </table>
{% endblock %}
{% endcomment %}

<table border=0>
		
        {% for instrument in instruments %}
			
			{% if instrument.status > 0 and instrument.status < 4 %}
        		<tr class="NT">
        	{% elif instrument.status = 4 %}
        		<tr class="W">
        	{% elif instrument.status = 8 %}
        		<tr class="A">
        	{% else %}
        		<tr class="normal">
        	{% endif %}
            	
            	<th>
            	{{ instrument.name }}
            	</th>
            	<th>
               	{{ instrument.value }}
            	({{ instrument.status }})
            	</th>
            
            </tr>
        {% endfor %}
 </table>




</body>
</html> 