{% extends 'w/base.html' %}
{% block content %}


 {% if not user.is_authenticated %}
 <a href="{% url 'w:login' %}">Please login to edit data.</a>
  {% else %}
<a href="{% url 'w:instrument' 0 %}">Add Instrument</a> 
 {% endif %}




{% if form %}
	{% if form.errors %}<p><strong>{{ form.errors }}</strong></p>{% endif %}

{% endif %}

<table border=1>
		<tr><th>ID</th><th>PRI</th><th>MANUAL</th><th>NAME</th><th>ADDRESS</th><th>TYPE</th><th>INDEX</th><th>OUTPUT</th><th>DATATYPE</th><th>VALUE</th><th>STATUS</th><th>DATETIME</th><th>UPDATE</th><th>DELETE</th><th>ARCHIVE</th></tr>
		
		{% if form.pk = 0 %}
		<tr>
		<form action="" method="post">{% csrf_token %}
        	<td>NEW</td>
        	<td>{{ form.priority }}</td>
        	<td>{{ form.manual }}</td>
            <td>{{ form.name }}</td>
        	<td>{{ form.address }}</td>
            <td>{{ form.type }}</td>
            <td>{{ form.index }}</td>
            <td>{{ form.output }}</td>
            <td>{{ form.datatype }}</td>
            <td>{{ form.value }}</td>
            <td>{{ form.status }}</td>
            <td></td>
            <td><input type="submit" name="create" value="Create" /></td>
            <td></td>
            <td></td>
        </form>
        <tr>
        {% endif %}
                
        {% for instrument in instruments %}

        	{% if instrument.pk = form.pk %}
        	
        	<tr>
        	<form action="" method="post">{% csrf_token %}
            	<td>{{ form.pk }}</td>
            	<td>{{ form.priority }}</td>
        	    <td>{{ form.manual }}</td>
            	<td>{{ form.name }}</td>
            	<td>{{ form.address }}</td>
            	<td>{{ form.type }}</td>
            	<td>{{ form.index }}</td>
            	<td>{{ form.output }}</td>
            	<td>{{ form.datatype }}</td>
                <td>{{ form.value }}</td>
                <td>{{ form.status }}</td>
            	<td></td>
            	<td><input type="submit" name="save" value="Save" /></td>
            	<td></td>
            	<td></td>
            </form>
            <tr>
        	{% else %}
            <tr>
            	<td>{{ instrument.id }}</td>
            	<td>{{ instrument.priority }}</td>
            	<td>{{ instrument.manual }}</td>
            	<td>{{ instrument.name }}</td>
            	<td>{{ instrument.address }}</td>
            	<td>{{ instrument.get_type_display }}</td>
            	<td>{{ instrument.index }}</td>
            	<td>{{ instrument.output }}</td>
            	<td>{{ instrument.get_datatype_display }}</td>
               	<td>{{ instrument.value }} </td>
            	<td>{{ instrument.status }} </td>
            	<td>{{ instrument.datetime|date:"D d M Y" }} {{ instrument.datetime|time:"H:i:s" }} </td>
            	<td>{% if user.is_authenticated %}<a href="{% url 'w:instrument' instrument.id %}">Update</a>{% endif %}</td>
            	<td>{% if user.is_authenticated %}<a href="{% url 'w:instrument_delete' instrument.id %}">Delete</a>{% endif %}</td>
            	<td><a href="{% url 'w:archive' instrument.id %}">Archive</a></td>
            	 
            <tr>
            {% endif %}
        {% endfor %}
        
        
        
    
</table>

{% endblock %} 