{% extends 'w/base.html' %}
{% block content %}

 {% if not user.is_authenticated %}
 <a href="{% url 'w:login' %}">Please login to edit data.</a>
{% else %}
<a href="{% url 'w:period' 0 %}">Add Period</a>
 {% endif %}
 
{% if form %}
	{% if form.errors %}<p><strong>{{ form.errors }}</strong></p>{% endif %}
{% endif %}



<table border=1>
		<tr><th>ID</th><th>NAME</th><th>TIME FROM</th><th>TIME TO</th><th>DESCRIPTION</th><th>UPDATE</th><th>DELETE</th></tr>
		{% if form.pk = 0 %}
		
		
		<tr>
		<form action="" method="post">{% csrf_token %}
        	<td>NEW</td>
        	<td>{{ form.name }}</td>
            <td>{{ form.time_from }}</td>
            <td>{{ form.time_to }}</td>
        	<td>{{ form.description }}</td>
            <td><input type="submit" name="create" value="Create" /></td>
            <td></td>
        </form>
        </tr>
        {% endif %}        
        {% for period in periods %}

        	{% if period.pk = form.pk %}
        	
        	<tr>
        	<form action="" method="post">{% csrf_token %}
            	<td>{{ form.pk }}</td>
            	<td>{{ form.name }}</td>
            	<td>{{ form.time_from }}</td>
            	<td>{{ form.time_to }}</td>
        		<td>{{ form.description }}</td>
            	<td><input type="submit" name="save" value="Save" /></td>
            	<td></td>
            </form>
            <tr>
        	{% else %}
            <tr>
             	<td>{{ period.id }}</td>
             	<td>{{ period.name }}</td>
            	<td>{{ period.time_from|time:"H:i:s" }}</td>
        		<td>{{ period.time_to|time:"H:i:s" }}</td>
            	<td>{{ period.description }}</td>
            	<td>{% if user.is_authenticated %}<a href="{% url 'w:period' period.id %}">Update</a>{% endif %}</td>
            	<td>{% if user.is_authenticated %}<a href="{% url 'w:period_delete' period.id %}">Delete</a>{% endif %}</td>
            <tr>
            {% endif %}
        {% endfor %}
    
</table>
{% endblock %} 