{% extends 'w/base.html' %}
{% block content %}



 {% if not user.is_authenticated %}
 <a href="{% url 'w:login' %}">Please login to edit data.</a>
{% else %}
<a href="{% url 'w:rule' 0 %}">Add Rule</a>
 {% endif %}
 
{% if form %}
	{% if form.errors %}<p><strong>{{ form.errors }}</strong></p>{% endif %}
{% endif %}



<table border=1>
		<tr><th>ID</th><th>PRI</th><th>PERIOD</th><th>INPUT</th><th>INPUT ATTRIBUTE</th><th>INPUT OPERATION</th><th>INPUT PARAMETER</th><th>OUTPUT</th><th>OUTPUT ATTRIBUTE</th><th>OUTPUT ACTION TRUE</th><th>OUTPUT PARAMETER TRUE</th><th>OUTPUT ACTION FALSE</th><th>OUTPUT PARAMETER FALSE</th><th>ONCE</th><th>DESCRIPTION</th><th>RESULT</th><th>DATETIME</th><th>UPDATE</th><th>DELETE</th></tr>
		{% if form.pk = 0 %}
		
		
		<tr>
		<form action="" method="post">{% csrf_token %}
        	<td>NEW</td>
        	<td>{{ form.priority }}</td>
        	<td>{{ form.period }}</td>
            <td>{{ form.input }}</td>
            <td>{{ form.input_attribute }}</td>
        	<td>{{ form.input_operation }}</td>
            <td>{{ form.input_parameter }}</td>
            <td>{{ form.output }}</td>
            <td>{{ form.output_attribute }}</td>
            <td>{{ form.output_action_true }}</td>
            <td>{{ form.output_parameter_true }}</td>
            <td>{{ form.output_action_false }}</td>
            <td>{{ form.output_parameter_false }}</td>
            <td>{{ form.once }}</td>
            <td>{{ form.description }}</td>
			<td></td>
            <td></td>
            <td><input type="submit" name="create" value="Create" /></td>
            <td></td>

        </form>
        </tr>
        {% endif %}        
        {% for rule in rules %}

        	{% if rule.pk = form.pk %}
        	
        	<tr>
        	<form action="" method="post">{% csrf_token %}
            	<td>{{ form.pk }}</td>
            	<td>{{ form.priority }}</td>
            	<td>{{ form.period }}</td>
            	<td>{{ form.input }}</td>
            	<td>{{ form.input_attribute }}</td>
        		<td>{{ form.input_operation }}</td>
            	<td>{{ form.input_parameter }}</td>
            	<td>{{ form.output }}</td>
            	<td>{{ form.output_attribute }}</td>
            	<td>{{ form.output_action_true }}</td>
            	<td>{{ form.output_parameter_true }}</td>
            	<td>{{ form.output_action_false }}</td>
            	<td>{{ form.output_parameter_false }}</td>
            	<td>{{ form.once }}</td>
            	<td>{{ form.description }}</td>
				<td></td>
            	<td></td>
            	<td><input type="submit" name="save" value="Save" /></td>
            	<td></td>
            </form>
            <tr>
        	{% else %}
            <tr>
             	<td>{{ rule.id }}</td>
             	<td>{{ rule.priority }}</td>
             	<td>{{ rule.period.name }}</td>
            	<td>{{ rule.input.name }}</td>
        		<td>{{ rule.get_input_attribute_display }}</td>
        		<td>{{ rule.get_input_operation_display }}</td>
            	<td>{{ rule.input_parameter }}</td>
            	<td>{{ rule.output.name }}</td>
            	<td>{{ rule.get_output_attribute_display }}</td>
            	<td>{{ rule.get_output_action_true_display }}</td>
            	<td>{{ rule.output_parameter_true }}</td>
            	<td>{{ rule.get_output_action_false_display }}</td>
            	<td>{{ rule.output_parameter_false }}</td>
            	<td>{{ rule.once }}</td>
            	<td>{{ rule.description }}</td>
            	<td>{{ rule.result }}</td>
            	<td>{{ rule.datetime|date:"D d M Y" }} {{ rule.datetime|time:"H:i:s" }} </td>
                <td>{% if user.is_authenticated %}<a href="{% url 'w:rule' rule.id %}">Update</a>{% endif %}</td>
            	<td>{% if user.is_authenticated %}<a href="{% url 'w:rule_delete' rule.id %}">Delete</a>{% endif %}</td>
            <tr>
            {% endif %}
        {% endfor %}
    
</table>
{% endblock %} 